.Link{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: blue;
   
    height: 50px;
    
    font-style: italic;
    align-items: center;
    font-size: 2rem;
}

